$navbar-height: 64px;

// Colors

$color-white: #fff;
$color-eerie-black: #1c1c1c;
$color-quick-silver: #a0a0a0;
$color-dark-gunmetal: #1e1e2e;
$color-malachite: #00c853;
$color-coquelicot: #ff3d00;
$color-cultured: #f5f5f5;
$color-pine-tree: #2b2b15;
$color-vivid-yellow: #ffe600;
$color-gold: #ffd700;
$color-dark-charcoal: #333;
$color-misty-rose: #ffe0e0;
$color-snow-drift: #f8f9fa;
$color-hint-of-green: #e0ffe0;
